/** core variables **/
$nav-height: 44px;

:root {
	--primary-col: #00857e;     # Primary colour
	--primary-reg-col: #00857e; # Primary FreeREG colour
	--primary-back: #e6f6e5;    # Primary background
	--primary-accent-col: #517481;
	--primary-accent-font-col: #364d55;

	--error-col: #d80000;
	--success-col: #009000;

	font-family: 'Open Sans', sans-serif;
	--nav-height: $nav-height;
}

nav {
	height: var(--nav-height)
}

.error {
	color: var(--error-col);
}

.success {
	color: var(--success-col);
}