@use 'tiny-grid';
@use 'nav';
@use 'bootstrap-shim';

/** core variables **/
$nav-height: 44px;

:root {
	--body-bgcol: white;    			// Primary background
	--body-fgcol: black;    			// Primary background

	--btn-fgcol: white;
	--btn-bgcol: #00857e;

	--nav-fgcol: #fff;
	--nav-bgcol: #007fad;
	--nav-height: 44px;
	--nav-hover-fgcol: white;
	--nav-hover-bgcol: #005f80;
	--nav-drop-fgcol: black;
	--nav-drop-bgcol: #eee;

	--href-fgcol: #00857e;

	--thead-bgcol: #ebebeb;

	--error-fgcol: #d80000;
	--success-fgcol: #009000;

	--gutter: 10px;
	font-family: 'Open Sans', sans-serif;
}

// high level pan-project styling
body {
	margin: 0;
	color: var(--body-fgcol);
	background-color: var(--body-bgcol);
}

a {
	color: var(--href-fgcol);
}

button, a.btn, select {
	text-align:center;
	border-radius: 5px;
}

button, a.btn {
	color: var(--btn-fgcol);
	background: var(--btn-bgcol);
	padding:0.6em 1.2em;
}

select {
	padding:0.6em 0;
	border:1px solid #777;
}

input  {
	padding:0.5em;
	background: #ddd;
	border-radius: 3px;
	border:1px solid #999;
}

table {
	border:none;
	border-collapse: collapse;
	thead {
		background: var(--thead-bgcol);
		color:black;
		font-weight:normal;
		th {
			padding: 0.3em;
			text-align:left;
		}
	}
	tbody {
		background: white;
		td {
			text-align:left;
		}
	}
}

/* utility classes */
.gutter 	{ margin:0 var(--gutter); }
.error 	{ color: var(--error-col); }
.success { color: var(--success-col); }
.none 	{ display:none; }
.block 	{ display:block; }