/*
- root font size is 16px
- refactor when we have more input types to share global default and state styles
- instead of using base64 img for tick and hyphen and colour variants, it might be
more readable to include one tick svg and one hyphen svg, and manipulate its fill
colour for the different states and variants.
*/

main {
  padding: 1.2rem;
}
input,
textarea {
  padding: 0.5em;
  background: #fff;
  border-radius: 4px;
  border: 1px solid var(--border-fgcol);

  transition: opacity 0.8s;
  &.hidden {
    opacity: 0;
    pointer-events: none;
    border: none;
  }
}

input,
textarea,
select {
  background: var(--input-bgcol);
  &:focus {
    background: white;
  }
}

input,
label {
	&.disabled {
		opacity:0.5;
	}
}

input {
	&.no-border {
		border:0;
	}
}

textarea {
  min-height: 5em;
}

label {
	display:block;
  margin-right: 0.1em;
  transition: opacity 1s;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    border: none;
  }
}

input[type="search"] {
  display: block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 10px 10px 10px 24px;
  min-height: 44px;
  min-width: 16rem;
  max-width: 320px;
  width: 100%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjYgMThMMTAuMyAxMS43QzkuOCAxMi4xIDkuMjI1IDEyLjQxNjcgOC41NzUgMTIuNjVDNy45MjUgMTIuODgzMyA3LjIzMzMzIDEzIDYuNSAxM0M0LjY4MzMzIDEzIDMuMTQ2IDEyLjM3MDcgMS44ODggMTEuMTEyQzAuNjMgOS44NTMzMyAwLjAwMDY2NzE5NiA4LjMxNiA1LjI5MTAxZS0wNyA2LjVDLTAuMDAwNjY2MTM4IDQuNjg0IDAuNjI4NjY3IDMuMTQ2NjcgMS44ODggMS44ODhDMy4xNDczMyAwLjYyOTMzMyA0LjY4NDY3IDAgNi41IDBDOC4zMTUzMyAwIDkuODUzIDAuNjI5MzMzIDExLjExMyAxLjg4OEMxMi4zNzMgMy4xNDY2NyAxMy4wMDIgNC42ODQgMTMgNi41QzEzIDcuMjMzMzMgMTIuODgzMyA3LjkyNSAxMi42NSA4LjU3NUMxMi40MTY3IDkuMjI1IDEyLjEgOS44IDExLjcgMTAuM0wxOCAxNi42TDE2LjYgMThaTTYuNSAxMUM3Ljc1IDExIDguODEyNjcgMTAuNTYyNyA5LjY4OCA5LjY4OEMxMC41NjMzIDguODEzMzMgMTEuMDAwNyA3Ljc1MDY3IDExIDYuNUMxMC45OTkzIDUuMjQ5MzMgMTAuNTYyIDQuMTg3IDkuNjg4IDMuMzEzQzguODE0IDIuNDM5IDcuNzUxMzMgMi4wMDEzMyA2LjUgMkM1LjI0ODY3IDEuOTk4NjcgNC4xODYzMyAyLjQzNjMzIDMuMzEzIDMuMzEzQzIuNDM5NjcgNC4xODk2NyAyLjAwMiA1LjI1MiAyIDYuNUMxLjk5OCA3Ljc0OCAyLjQzNTY3IDguODEwNjcgMy4zMTMgOS42ODhDNC4xOTAzMyAxMC41NjUzIDUuMjUyNjcgMTEuMDAyNyA2LjUgMTFaIiBmaWxsPSIjNzA3MDcwIi8+Cjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 0.9rem;
}

input[type="search"]:focus-visible {
  outline: 1px solid var(--primary-reg-col);
  outline-offset: 2px;
}

input[type="search"]:not(:placeholder-shown) {
  background-image: none;
}

input[type="submit"] {
  background-color: var(--btn-bgcol);
  color: white;
  border: 1px solid var(--btn-bgcol);
  cursor: pointer;
}

// -------------------------------------------------------------------
// Base styles for checkbox: https://stackoverflow.com/a/27779075
// -------------------------------------------------------------------
input[type="checkbox"] {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  box-shadow: 0 0 0 2px var(--href-fgcol);
  background-color: var(--body-bgcol);
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 16px;
    height: 12px;
  }

	.label-above {
		display: flex;
		flex-direction: column;
	}

	.input-disabled {
		color: var(--disabled-col);
		pointer-events: none;
	}

	.input-disabled:focus {
		background-color: var(--disabled-bg-col);
		outline: 2px solid var(--border-fgcol);
	}

  // -------------------------------------------------------------------
  // LOGICAL States (Selected / Indeterminate)
  // -------------------------------------------------------------------

  &:checked {
    background-color: var(--btn-bgcol);

    &::before {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxOCAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuNTQ5OTggMTNMMC44NDk5NzYgNy4yOTk5OEwyLjI3NDk4IDUuODc0OThMNi41NDk5OCAxMC4xNUwxNS43MjUgMC45NzQ5NzZMMTcuMTUgMi4zOTk5OEw2LjU0OTk4IDEzWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+");
    }
  }

  &:hover {
    background-color: var(--unselected-bg-col);
    box-shadow: none;
  }

  &:hover {
    &:checked {
      background-color: var(--body-bgcol);

      &::before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxOCAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuNTQ5OTggMTNMMC44NDk5NzYgNy4yOTk5OEwyLjI3NDk4IDUuODc0OThMNi41NDk5OCAxMC4xNUwxNS43MjUgMC45NzQ5NzZMMTcuMTUgMi4zOTk5OEw2LjU0OTk4IDEzWiIgZmlsbD0iIzAwODU3RSIvPgo8L3N2Zz4K");
      }
    }
  }

  &:focus-visible {
    outline: 2px solid var(--primary-reg-color);
    outline-offset: 3px;
    background-color: white;
    &:checked {
      box-shadow: none;
    }
  }

  &:indeterminate {
    background-color: var(--btn-bgcol);
    &::before {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDE0IDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wIDJWMEgxNFYySDBaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");
      width: 12px;
      height: 2px;
    }

    &:hover {
      background-color: var(--unselected-bg-col);

      &::before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDE0IDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wIDJWMEgxNFYySDBaIiBmaWxsPSIjMDA4NTdFIi8+Cjwvc3ZnPgo=");
      }
    }

    &:focus-visible {
      box-shadow: none;
    }

    &:disabled {
      &::before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDE0IDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wIDJWMEgxNFYySDBaIiBmaWxsPSIjNDQ0NDQ0Ii8+Cjwvc3ZnPg==");
      }
    }
  }

  // -------------------------------------------------------------------
  // Error States (maintains its own interactions styles)
  // -------------------------------------------------------------------

  &.error,
  &[aria-invalid="true"] {
    box-shadow: 0 0 0 2px var(--error-fgcol);
    background-color: var(--error-bg-col);

    &:hover {
      box-shadow: none;
      background-color: var(--error-bg-col);
    }

    &:focus-visible {
      outline-color: var(--error-fgcol);
    }

    &:checked {
      &:focus-visible {
        outline-color: var(--error-fgcol);
      }

      &::before {
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxOCAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuNTQ5OTggMTNMMC44NDk5NzYgNy4zMDAwMUwyLjI3NDk4IDUuODc1MDFMNi41NDk5OCAxMC4xNUwxNS43MjUgMC45NzUwMDZMMTcuMTUgMi40MDAwMUw2LjU0OTk4IDEzWiIgZmlsbD0iI0RCMDAwMCIvPgo8L3N2Zz4K");
      }
    }
  }

  // -------------------------------------------------------------------
  // Disabled State (No interaction styles)
  // -------------------------------------------------------------------

  &:disabled {
    cursor: not-allowed;
    box-shadow: 0 0 0 2px var(--disabled-bg-col);
    background-color: var(--disabled-bg-col);

    &:hover,
    &:focus-visible {
		 background-color: var(--disabled-bg-col);
		 outline: none;
    }

    &:checked,
    &:indeterminate {
      background-color: var(--disabled-bg-col);
      box-shadow: 0 0 0 2px var(--disabled-col);
    }

    &:checked::before {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxOCAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuNTQ5OTggMTNMMC44NDk5NzYgNy4yOTk5OEwyLjI3NDk4IDUuODc0OThMNi41NDk5OCAxMC4xNUwxNS43MjUgMC45NzQ5NzZMMTcuMTUgMi4zOTk5OEw2LjU0OTk4IDEzWiIgZmlsbD0iIzQ0NDQ0NCIvPgo8L3N2Zz4=");
    }

    &:indeterminate::before {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDE0IDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wIDJWMEgxNFYySDBaIiBmaWxsPSIjNDQ0NDQ0Ii8+Cjwvc3ZnPg==");
      width: 12px;
      height: 2px;
    }
  }
}

.input-disabled {
  background-color: #dededede;
}
.label-left {
  display: flex;
  align-items: center;
}