
$nav-height:44px;
$bar-height:4px;
$breakpoint:600px;

nav {
	display:flex;
	justify-content: space-between;
	align-items: center;
	color: var(--nav-fgcol);
	height: var(--nav-height);
	background: var(--nav-bgcol);

	a.logo {
		color: var(--nav-fgcol);
		img {
			background: var(--nav-fgcol);
			max-width:250px;
		}
	}
	ul {
		margin-right:auto;
		white-space: nowrap;
		padding:0;
		li {
			display:inline-block;
			transition-duration: 0.3s;
			list-style: none;
			padding:1em;
			margin:0 1.2em;
			cursor: pointer;
			ul {
				margin-top: 1rem;
				display:none;
			}
			&:hover {
				color: var(--nav-hover-fgcol);
				background: var(--nav-hover-bgcol);
				position:relative;
				ul {
					background:var(--nav-drop-bgcol);
					color:var(--nav-drop-fgcol);
					position:absolute;
					left:0;
					top:2.9em;
					width:220px;
					display:flex;
					flex-direction: column;
					padding:0 0.2em;
					margin:0;
					li {
						margin:0;
						outline:1px solid transparent;
						&:hover {
							background: var(--nav-hover-bgcol);

							outline:1px solid #aaa;
						}
					}
				}
			}

			a {
				text-decoration: none;
			}
			&.active {
				a {
					color: var(--nav-hover-bgcol);
				}
			}
		}
		@media screen and (max-width: $breakpoint) {
			display:none;
		}
	}

	section.menu {
		background: var(--nav-fgcol);
		cursor: pointer;
		padding: 2px;

		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 0 0.5em 0 0;
		border-radius: 5px;

		.menu-bar {
			width: 80%;
			height: $bar-height;
			margin: 3px auto;
			border-radius: 3px;
			background: var(--nav-bgcol);
		}

		&.active {
			background: #575757;   // @TODO
			.menu-bar {
				background: var(--nav-fgcol);;
			}
		}
		@media screen and (min-width: $breakpoint) {
			display:none;
		}
	}
}

section.menu-click {
	display: none;
	&.active {
		display: block;
	}
	width: 100%;
	padding: 5px 0;
	margin-bottom: 10px;
	text-align: center;
	background: #6aa;
	margin-left:auto;

	li {
		display:block;
		color: var(--nav-fgcol);
		padding:3px;
	}

	@media screen and (max-width: $breakpoint) {
		display:none;
	}
}
