
table {
	border: none;
	border-collapse: collapse;
	thead {
		background: lightgrey;
		color: black;
		font-weight: normal;
		th {
			padding: 0.3em;
			text-align: left;
		}
	}
	tbody {
		background: white;
		td {
			text-align: left;
			padding:0.1em 0.2em;
		}
		tr {
			padding-bottom:0.2em;
		}
	}
}