//@TODO DS probably an easier way to do this
.wid-1 { width: var(--size-1); }
.wid-2 { width: var(--size-2); }
.wid-3 { width: var(--size-3); }
.wid-4 { width: var(--size-4); }
.wid-5 { width: var(--size-5); }
.wid-6 { width: var(--size-6); }
.wid-7 { width: var(--size-7); }
.wid-8 { width: var(--size-8); }
.wid-9 { width: var(--size-9); }
.wid-10 { width: var(--size-10); }
.wid-12 { width: var(--size-12); }
.wid-14 { width: var(--size-14); }
.wid-16 { width: var(--size-16); }
.wid-18 { width: var(--size-18); }
.wid-20 { width: var(--size-20); }
.wid-25 { width: var(--size-25); }
.wid-30 { width: var(--size-30); }
.wid-35 { width: var(--size-35); }
.wid-40 { width: var(--size-40); }
.wid-50 { width: var(--size-50); }