//------------------------------------------------------------------
// main.scss
// pulls in "core" style guide files from directory above
// and all the project specific reg SASS files in this directory
// DSullivan 09 Nov 2025
//-------------------------------------------------------------------
@use '../core.scss';

@use 'colours.scss';
@use '../core.scss';
@use '../login.scss';
@use 'view-images.scss';
@use 'load-csv.scss';

@use 'fonts/source-sans-3';

:root {
	font-family: "Source Sans 3 VF", sans-serif;
}
